.node {
  stroke: black;
}

.node, .name-path {
  fill: transparent;
  opacity: 0.3;
}


.name-path.debug {
  stroke: black;
  stroke-dasharray: 5,5;
}

.container {
  position: relative;
}

.visualization {
  position: absolute;
  top: var(--padding)
}

.legend {
  z-index: 1;
  position: absolute;
  bottom: 16px;
  left: 16px;
  border: 1px hsl(0, 0%, 50%) solid;
  border-radius: 8px;
  padding: 16px;
}

