node_modules

/.cache
/build
/public/build
.env
.env.local
data.json
.temp
coverage
.eslintcache
cli.js
cli.cjs
cli.mjs
/test-results/
/playwright-report/
/playwright/.cache/
.react-router/
*.tsbuildinfo
.DS_Store
package-lock.json
