node_modules

/.cache
/build
/public/build
.env
data.json
.temp
coverage
.eslintcache
cli.js
cli.cjs
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
*.js
