.tree,
.blob {
  position: relative;
}

.tree {
  stroke: var(--border-color);
  fill: transparent;
}

.blob {
  cursor: pointer;
  pointer-events: all;
  position: relative;
}

.object-name {
  font-weight: bold;
  font-size: 0.8rem;
  fill: "#333";
  cursor: pointer;
}

.name-path {
  fill: transparent;
  pointer-events: none;
}
