.folder {
  stroke: var(--border-color);
  fill: #fff;
}

.file {
  cursor: pointer;
  pointer-events: all;
  position: relative;
}

.name-path {
  fill: transparent;
  pointer-events: none;
}

/* Add debug class to name paths, to be able to see them */
.name-path.debug {
  stroke: black;
  stroke-dasharray: 5, 5;
}

.search-match {
  stroke-width: 2px;
  stroke: red;
  stroke-dasharray: 2px;
}

.module {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: #333;
}
