.tree,
.blob {
  position: relative;
}

.tree {
  stroke: var(--border-color);
  fill: transparent;
}

.blob {
  cursor: pointer;
  pointer-events: all;
  position: relative;
}

.object-name {
  font-weight: bold;
  font-size: 0.8rem;
  fill: "#333";
}

.name-path {
  fill: transparent;
  pointer-events: none;
}

/* Add debug class to name paths, to be able to see them */
.name-path.debug {
  stroke: black;
  stroke-dasharray: 5, 5;
}

.search-match {
  stroke-width: 3px;
  stroke: var(--search-match-color);
  stroke-dasharray: 3px;
}

.module {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-text {
  fill: #333;
}
