.folder {
  stroke: var(--border-color);
}

.file {
  cursor: pointer;
  pointer-events: all;
  position: relative;
}

.name-path {
  fill: transparent;
  pointer-events: none;
}

/* Add debug class to name paths, to be able to see them */
.name-path.debug {
  stroke: black;
  stroke-dasharray: 5, 5;
}

.search-match ~ path {
  stroke-width: 2px;
  stroke: var(--search-match-color);
  stroke-linecap: round;
  animation: 1s ease-in-out alternate infinite marching_dashes;
}

.search-match-title {}

.search-match {}

@keyframes marching_dashes {
  to {
    stroke-dashoffset: 0;
  }
}

.module {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  fill: #333;
}
