.legend {
  position: absolute;
  width: calc(var(--side-panel-width) - calc(6 * var(--unit)));
  bottom: 0px;
  left: 0px;
}

.legend-entry {
  font-size: small;
  position: relative;
  display: flex;
  flex-direction: row;
  place-items: center;
  line-height: 100%;
  margin: 0px;
}

.legend-dot {
  height: 100%;
  aspect-ratio: 1;
  width: 1em;
  border-radius: 50%;
}

.legend-label {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}

.legend-toggle {
  position: absolute;
  top: var(--unit);
  right: var(--unit);
  border: none;
  background-color: rgba(0, 0, 0, 0);
  scale: 200%;
  transition-duration: 0.4s;
  color: grey;
  transform-origin: 50% 55%;
  transform: rotate(180deg);
}

.legend-toggle:hover {
  scale: 180%;
}

.legend-toggle-active {
  transform: none;
}
