.option-text {
  font-weight: bold;
  font-size: 0.8em;
}
.options {
  position: absolute;
  top: 16px;
  left: 16px;
}

.enum-select {
  padding: var(--unit);
  border: 1px var(--border-color) solid;
  border-radius: calc(0.5 * var(--unit));
}
