.folder {
  stroke: black;
  opacity: 0.3;
}

.file {
  stroke-width: 0;
}

.name-path {
  fill: transparent;
}

.name-path.debug {
  stroke: black;
  stroke-dasharray: 5, 5;
}

.container {
  position: relative;
}

.visualization {
  position: absolute;
  top: var(--padding);
}

.box {
  border: 1px hsl(0, 0%, 50%) solid;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
}

.options {
  position: absolute;
  top: 16px;
  left: 16px;
}

.stack {
  display: flex;
  flex-direction: column;
}

.option-text {
  font-weight: bold;
  font-size: 0.8em;
}

.file-details {
  z-index: 1;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.spacer {
  padding-bottom: 10px;
}
