:root {
  --unit: 8px;
  --title-color: hsl(200deg, 5%, 30%);
  --text-color: hsl(200deg, 5%, 25%);
  --border-color: hsl(0deg 0% 70%);
  --surface-color: hsl(0deg 0% 90%);
  --border-color-alpha: hsla(0deg, 0%, 0%, 30%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: hsl(210deg 38% 95%);
}

#root {
  height: 100%;
}

.container {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
