:root {
  --unit: 8px;
  --title-color: hsl(200deg, 5%, 30%);
  --text-color: hsl(200deg, 5%, 25%);
  --border-color: hsl(0deg 0% 70%);
  --surface-color: hsl(0deg 0% 90%);
  --border-color-alpha: hsla(0deg, 0%, 0%, 30%);
}
