@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
  --unit: 4px;
  --side-panel-width-units: 94;
  --spacing-sidepanel: 45ch;

  --spacing-button: calc(var(--spacing) * 8);

  --color-blue-primary: var(--color-blue-500);
  --color-blue-secondary: var(--color-blue-400);

  /* Light */
  --color-primary-bg: var(--color-gray-50);
  --color-secondary-bg: var(--color-gray-200);
  --color-tertiary-bg: var(--color-gray-50);

  --color-border: var(--color-gray-400);
  --color-border-highlight: var(--color-gray-600);

  --color-primary-text: var(--color-gray-950);
  --color-secondary-text: var(--color-gray-600);
  --color-tertiary-text: var(--color-gray-400);

  /* Dark */
  --color-primary-bg-dark: var(--color-gray-950);
  --color-secondary-bg-dark: var(--color-gray-900);
  --color-tertiary-bg-dark: var(--color-gray-950);

  --color-border-dark: var(--color-gray-500);
  --color-border-highlight-dark: var(--color-gray-200);

  --color-primary-text-dark: var(--color-gray-50);
  --color-secondary-text-dark: var(--color-gray-300);
  --color-tertiary-text-dark: var(--color-gray-400);

  /* Animations */
  --animate-hide-initially: 1s 1s linear forwards hide_initially;

  --animate-skeet: 1s ease-in-out infinite alternate skeet;

  --font-mono: Roboto Mono, monospace;

  --background-image-arrow: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  /* For progress bars that should only show after 100ms */
  @keyframes hide_initially {
    to {
      opacity: 1;
    }
  }

  @keyframes skeet {
    0%,
    10% {
      position: relative;
      left: 0;
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    90%,
    100% {
      position: relative;
      left: calc(100% - 4px);
      transform: translateX(-100%);
      opacity: 1;
    }
  }
}

@utility primary {
  @apply bg-primary-bg dark:bg-primary-bg-dark text-primary-text dark:text-primary-text-dark border-border dark:border-border-dark outline-border dark:outline-border-dark;
}

@utility secondary {
  /* @apply bg-secondary-bg dark:bg-secondary-bg-dark; */
  @apply bg-secondary-bg dark:bg-secondary-bg-dark;

  @apply text-secondary-text dark:text-secondary-text-dark border-border dark:border-border-dark;
}

@utility secondary-tertiary {
  /* @apply bg-secondary-bg dark:bg-secondary-bg-dark; */
  @apply from-secondary-bg to-tertiary-bg dark:from-secondary-bg-dark dark:to-tertiary-bg-dark bg-linear-0;

  @apply text-secondary-text dark:text-secondary-text-dark border-border dark:border-border-dark;
}

@utility tertiary {
  @apply bg-tertiary-bg dark:bg-tertiary-bg-dark text-primary-text dark:text-primary-text-dark border-border dark:border-border-dark outline-border dark:outline-border-dark;
}

.app-container {
  @apply m-auto w-full max-w-2xl;
}

@utility card {
  @apply secondary text-secondary-text dark:text-secondary-text-dark relative flex w-auto flex-col gap-2 rounded-sm p-2;
}

@utility card__header {
  @apply flex flex-row items-center gap-2;
}

@utility card__content {
  @apply flex flex-col gap-2;
}

@utility card__title {
  @apply text-secondary-text dark:text-secondary-text-dark text-sm leading-relaxed font-bold tracking-wider uppercase opacity-70 select-none;
}

@utility card__subtitle {
  @apply text-primary-text dark:text-primary-text-dark text-sm font-bold;
}

@utility btn {
  @apply h-button tertiary flex cursor-pointer place-items-center justify-center gap-2 rounded-md fill-current px-2 text-sm font-bold text-nowrap select-none hover:*:opacity-70 not-disabled:hover:saturate-50 disabled:cursor-not-allowed disabled:grayscale aria-disabled:cursor-not-allowed aria-disabled:grayscale;

  &:not(.btn--primary):not(.btn--danger):not(.btn--outlined):not(.btn--text) {
    @apply border-border dark:border-border-dark hover:border-border-highlight dark:hover:border-border-highlight-dark border;
  }

  & > svg {
    @apply inline-block h-4 w-4;
  }
}

@utility btn--outlined {
  @apply border border-current bg-transparent hover:bg-transparent;

  &:not(.btn--primary):not(.btn--danger) {
    @apply text-secondary-text dark:text-secondary-text-dark hover:text-primary-text dark:hover:text-primary-text-dark;
  }
}

@utility btn--icon {
  @apply aspect-square p-0;
}

@utility btn--hover-swap {
  @apply grid grid-cols-1 grid-rows-1 place-items-center;

  & > * {
    /* Stack children on top of each other */
    grid-area: 1 / 1;
  }

  & > .hover-swap {
    opacity: 0;
  }

  &:hover > .hover-swap {
    opacity: 1;
  }

  &:hover > :not(.hover-swap) {
    opacity: 0;
  }
}

@utility input {
  @apply tertiary **:tertiary focus-visible:ring-blue-primary dark:focus-visible:ring-blue-secondary text-secondary-text dark:text-secondary-text-dark has-[input]:focus-visible:ring-blue-primary dark:has-[input]:focus-within:ring-blue-secondary placeholder:text-tertiary-text dark:placeholder:text-tertiary-text-dark hover:border-border-highlight dark:hover:border-border-highlight-dark h-button w-full grow rounded-sm border px-1 text-sm text-ellipsis outline-hidden transition-colors not-[select]:px-2 focus-visible:ring-2 *:focus-visible:ring-0 enabled:cursor-pointer disabled:cursor-not-allowed disabled:opacity-50;

  & input {
    @apply focus-visible:ring-transparent;
  }

  &select {
    @apply bg-inherit text-inherit;
  }
}

@utility label {
  @apply cursor-pointer text-sm font-medium select-none;
}

/* Button Variants */
@utility btn--primary {
  @apply text-primary-text-dark bg-blue-primary rounded;

  &.btn--text {
    @apply text-blue-primary dark:text-blue-primary border-transparent bg-transparent;
  }
  &.btn--outlined {
    @apply border-blue-primary text-blue-primary dark:border-blue-secondary dark:text-blue-secondary bg-transparent;
  }
}
@utility btn--text {
  @apply border-transparent bg-transparent hover:bg-transparent hover:opacity-50;
}

@utility btn--danger {
  @apply text-primary-text-dark rounded border-red-900 bg-red-700 enabled:hover:opacity-70 dark:border-red-800 dark:bg-red-800;

  &.btn--text {
    @apply border-transparent bg-transparent text-red-700 dark:text-red-400;
  }
  &.btn--outlined {
    @apply border-red-700 text-red-700 dark:border-red-400 dark:text-red-400;
  }
}

@utility badge {
  @apply bg-blue-primary inline-flex items-center rounded-full px-2 py-0.5 text-xs font-semibold text-white;
}

@utility text-base-styles {
  @apply text-primary-text dark:text-primary-text-dark line-clamp-1;
  /* font-weight: bold; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@utility pixelated {
  image-rendering: pixelated;
}

@layer base {
  * {
    @apply border-gray-300 dark:border-gray-700;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input,
  button,
  textarea,
  select,
  optgroup,
  option {
    @apply text-inherit;
    font: inherit;
  }

  input,
  button,
  textarea,
  select {
    @apply outline-hidden focus:outline-hidden focus-visible:ring-2 focus-visible:ring-black dark:focus-visible:ring-white;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}
