@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-gray-300 dark:border-gray-700;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
    background-color: inherit;
  }

  input,
  button,
  textarea,
  select {
    @apply outline-none focus:outline-none focus-visible:ring-2 focus-visible:ring-black dark:focus-visible:ring-white;
  }

  select {
    color: inherit;
    background-color: inherit;
  }

  optgroup,
  option {
    color: initial;
    background-color: initial;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
}

@layer components {
  .card {
    @apply relative flex w-auto flex-col gap-2 rounded-lg bg-gray-100 p-2 shadow-md dark:bg-gray-800;
  }

  .card__header {
    @apply flex flex-row items-center gap-2;
  }

  .card__content {
    @apply flex flex-col gap-2;
  }

  .card-p {
    @apply text-sm opacity-80;
  }
  .card__title {
    @apply text-base-styles select-none text-sm font-bold uppercase tracking-widest opacity-80;
  }

  .card__subtitle {
    @apply text-base-styles text-base;
  }

  /* Inputs */

  .btn {
    @apply grid h-8 cursor-pointer select-none grid-flow-col items-center justify-center gap-2 text-nowrap rounded-md border border-gray-200 bg-gray-200 fill-current px-2 text-sm font-bold text-gray-600 transition duration-200 hover:opacity-70 disabled:cursor-not-allowed disabled:opacity-50 aria-disabled:cursor-not-allowed aria-disabled:opacity-50 dark:border-gray-600 dark:bg-gray-600 dark:text-gray-200;
  }

  .btn > svg,
  h2 svg {
    @apply inline-block h-4 w-4;
  }

  .btn:disabled {
    cursor: not-allowed;
  }

  .btn--outlined {
    @apply border-current bg-transparent text-inherit hover:bg-transparent hover:opacity-50 dark:hover:opacity-50;
  }

  .btn--outlined--light {
    @apply border-current bg-transparent text-white/90 hover:bg-transparent hover:text-white/50;
  }

  .btn.btn--primary {
    @apply border-blue-500 bg-blue-500 text-white enabled:hover:opacity-70 dark:border-blue-700 dark:bg-blue-700;
  }

  .btn--icon.btn--primary {
    @apply text-blue-500 dark:text-blue-600;
  }

  .btn--success {
    @apply border-green-500 bg-green-500 text-white;
  }

  .btn--danger {
    @apply border-red-500 bg-red-500 text-white;
  }

  .btn--icon {
    @apply inline-grid cursor-pointer place-items-center fill-current;
  }

  .btn--icon > * {
    @apply hover:opacity-70;
  }

  .btn--hover-swap .hover-swap {
    display: none;
  }

  .btn--hover-swap > .hover-swap {
    display: none;
  }
  .btn--hover-swap > :not(.hover-swap) {
    opacity: 0.5;
  }
  .btn--hover-swap:hover > .hover-swap {
    display: block;
  }
  .btn--hover-swap:hover > :not(.hover-swap) {
    display: none;
  }

  .input {
    @apply h-8 w-full flex-grow;
    @apply overflow-scroll text-ellipsis rounded border border-gray-300 px-1 text-sm transition-colors;
    @apply enabled:cursor-pointer enabled:hover:border-gray-400 disabled:cursor-not-allowed disabled:opacity-50;
    @apply outline-none focus-visible:ring-2 focus-visible:ring-black dark:focus-visible:ring-white;
  }

  .input--hover-border {
    @apply border-transparent hover:border-gray-400;
  }

  .input:not(select) {
    @apply px-2;
  }

  .label {
    @apply cursor-pointer select-none font-bold hover:opacity-70;
  }

  .app-container {
    @apply grid h-auto w-full grid-cols-1 grid-rows-[50vh,auto,auto] transition-all;
    @apply md:h-screen md:grid-cols-[var(--side-panel-width),1fr,var(--side-panel-width)] md:grid-rows-[1fr] md:overflow-hidden;
    grid-template-areas: "left main right";
  }

  /* 768px = md */
  @media (max-width: 768px) {
    .app-container {
      grid-template-areas: "main" "left" "right";
    }
  }

  .app-container > main {
    grid-area: main;
  }

  .app-container > aside {
    @apply md:transition-transform;
  }

  .app-container > aside:first-of-type {
    grid-area: left;
  }

  .app-container > aside:last-of-type {
    grid-area: right;
  }

  .app-container.both-collapse {
    @apply md:h-screen md:grid-cols-[0,1fr,0] md:grid-rows-[1fr] md:overflow-hidden;
  }

  .app-container.left-collapse {
    @apply md:h-screen md:grid-cols-[0,1fr,var(--side-panel-width)] md:grid-rows-[1fr] md:overflow-hidden;
  }

  .app-container.right-collapse {
    @apply md:h-screen md:grid-cols-[var(--side-panel-width),1fr,0] md:grid-rows-[1fr] md:overflow-hidden;
  }

  .app-container.fullscreen {
    @apply grid-rows-[100vh,auto,auto];
  }

  .app-container.fullscreen > main {
    /* Span all available columns */
    grid-column: 1 / -1;
  }

  .left-arrow-space {
    left: var(--side-panel-width);
  }

  .app-container.fullscreen > aside:first-of-type {
    @apply md:-translate-x-[var(--side-panel-width)];
  }

  .app-container.fullscreen > aside:last-of-type {
    @apply md:translate-x-[var(--side-panel-width)];
  }

  /* Small screens */
}

@layer utilities {
  .text-base-styles {
    @apply line-clamp-1;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
