@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .side-panel {
    @apply flex flex-col gap-2 overflow-y-auto p-2;
  }
  .card {
    @apply relative flex w-auto flex-col gap-2 rounded-lg bg-white p-3 shadow-md;
  }

  .card__header {
    @apply flex flex-row items-center gap-2;
  }

  .card__content {
    @apply flex flex-col gap-2;
  }

  .card-p {
    @apply text-sm opacity-70;
  }
  .card__title {
    @apply text-base-styles border-b pb-1 text-lg;
  }

  .card__subtitle {
    @apply text-base-styles text-base;
  }

  /* Inputs */

  .btn {
    @apply grid h-8 cursor-pointer grid-flow-col items-center justify-center gap-2 rounded-md bg-gray-200 px-3 text-sm font-bold text-gray-600 transition-all hover:opacity-70 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn > svg,
  h2 svg {
    @apply inline-block h-4 w-4;
  }

  .btn:disabled {
    cursor: not-allowed;
  }

  .btn--outlined {
    @apply border border-current bg-transparent text-black/50 hover:bg-transparent hover:text-black/80;
  }

  .btn--outlined--light {
    @apply border border-current bg-transparent text-white/80 hover:bg-transparent hover:text-white/100;
  }

  .btn--primary {
    @apply bg-blue-500 text-white enabled:hover:bg-blue-600;
  }

  .btn--success {
    @apply bg-green-500 text-white;
  }

  .btn--danger {
    @apply bg-red-500 text-white;
  }

  .btn--icon {
    @apply inline-grid cursor-pointer place-items-center;
  }

  .btn--icon > * {
    @apply opacity-50 hover:opacity-100;
  }

  .btn--hover-swap .hover-swap {
    display: none;
  }

  .btn--hover-swap > .hover-swap {
    display: none;
  }
  .btn--hover-swap > :not(.hover-swap) {
    opacity: 0.5;
  }
  .btn--hover-swap:hover > .hover-swap {
    display: block;
  }
  .btn--hover-swap:hover > :not(.hover-swap) {
    display: none;
  }

  .input {
    @apply h-8 w-full flex-grow overflow-scroll text-ellipsis rounded border border-gray-300 px-1 text-sm transition-colors enabled:cursor-pointer enabled:hover:border-gray-400 disabled:cursor-not-allowed;
  }

  .input:not(select) {
    @apply px-2;
  }

  .label {
    @apply cursor-pointer font-bold hover:opacity-70;
  }
}

@layer utilities {
  .text-base-styles {
    font-weight: bold;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
