@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .side-panel {
    @apply flex flex-col gap-2 overflow-y-auto p-2;
  }
  .box {
    @apply relative w-auto rounded-lg bg-white p-4 shadow-md;
  }

  .box-p {
    @apply text-sm opacity-70;
  }
  .box__title {
    @apply text-base-styles text-lg;
  }

  .box__subtitle {
    @apply text-base-styles text-base;
  }

  /* Inputs */

  .btn {
    @apply grid h-8 cursor-pointer grid-flow-col items-center gap-2 rounded-md bg-gray-200 px-3 text-sm font-bold text-gray-600 enabled:hover:opacity-100 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn:disabled {
    cursor: not-allowed;
  }

  .btn--primary {
    @apply bg-blue-500 text-white;
  }

  .btn--danger {
    @apply bg-red-500 text-white;
  }

  .btn--icon {
    @apply inline-grid cursor-pointer place-items-center;
  }

  .btn--icon > * {
    @apply opacity-50;
  }
  .btn--icon:hover > * {
    @apply opacity-100;
  }

  .btn--hover-swap .hover-swap {
    display: none;
  }

  .btn--hover-swap > .hover-swap {
    display: none;
  }
  .btn--hover-swap > :not(.hover-swap) {
    opacity: 0.5;
  }
  .btn--hover-swap:hover > .hover-swap {
    display: block;
  }
  .btn--hover-swap:hover > :not(.hover-swap) {
    display: none;
  }

  .btn:enabled:hover {
    @apply bg-gray-300;
  }

  .btn--primary:enabled:hover {
    @apply bg-blue-600;
  }

  .btn--danger:enabled:hover {
    @apply bg-red-600;
  }

  .input {
    @apply h-8 w-full flex-grow overflow-scroll text-ellipsis rounded border border-gray-300 px-3 text-sm transition-colors enabled:cursor-pointer enabled:hover:border-gray-400 disabled:cursor-not-allowed;
  }

  .label {
    @apply cursor-pointer pl-[9px] font-bold;
  }
}

@layer utilities {
  .text-base-styles {
    font-weight: bold;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
