# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of bun

name: Check (node)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-node:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 20.x, 18.x]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"

      - name: Use Node ${{ matrix.bun-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: rm package-lock.json && npm install

      - name: Run unit tests
        run: npm run test:unit

      - name: Build application
        run: npm run build

      - name: Run typecheck
        run: npm run typecheck

      - name: Check linting
        run: npm run lint

      - name: Check formatting
        run: npm run format:check

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
